<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554714373782-8agflj869cke6faljj6lvje1u02cvdus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554714373782-8agflj869cke6faljj6lvje1u02cvdus</string>
	<key>API_KEY</key>
	<string>AIzaSyCYuFsV5fE5A5mJBflcgEUsdDBMAT2m1N8</string>
	<key>GCM_SENDER_ID</key>
	<string>554714373782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleanArch</string>
	<key>PROJECT_ID</key>
	<string>pharmacy-24093</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmacy-24093.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554714373782:ios:727d9241399efcfb6eecb7</string>
</dict>
</plist>